body {
    margin: 0;
    position: relative;
    background: #eee;
    font-family: sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  not supported by any browser */
}

.wrapper {
    .header {
        height: 64px;
        background: #666981;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 3;
        .rx_icon {
            float: right;
        }
        .title {
            height: 100%;
            line-height: 64px;
            padding-left: 16px;
            float: left;
            color: white;
            font-size: 18px;
        }
    }
}